version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  groups:
    plugins:
      patterns:
        - "org.apache.maven.plugins:*"
        - "com.github.eirslett:frontend-maven-plugin"
        - "org.codehaus.mojo:*"
        - "com.mycila:license-maven-plugin"
        - "org.jacoco:jacoco-maven-plugin"
        - "org.owasp:dependency-check-maven"
        - "com.puppycrawl.tools:checkstyle"

- package-ecosystem: "docker"
  directory: "/src/main/docker"
  schedule:
    interval: weekly

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
