# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Development config
.env

# Generated RDF artifacts - until they are published
!generated-vocab-common*.jar

# Node.js (rdfa-parser)
src/main/js/rdfa-parser/node_modules/
src/main/js/rdfa-parser/dist/
