# local override of properties
configFile: config/config.ttl
testSuiteDescription: example/example.ttl
target: https://github.com/solid/conformance-test-harness/ess-compat
#target: https://github.com/solid/conformance-test-harness/ess
#target: https://github.com/solid/conformance-test-harness/css
#target: https://github.com/solid/conformance-test-harness/nss

# mapping feature URIs
feature:
  mappings:
    - prefix: https://github.com/solid/conformance-test-harness/example
      path: example

# Logging
quarkus:
  log:
    category:
      "org.solid.testharness":
        level: DEBUG # to increase overall logging for development
      "org.solid.testharness.http.AuthManager":
        level: INFO # but keep only higher level for authentication
#      "org.solid.testharness.utils":
#        level: INFO
#      "org.solid.testharness.http.Client":
#        level: DEBUG

# Test profile
"%test":
  configFile: src/test/resources/config-sample.ttl
  testSuiteDescription: src/test/resources/testsuite-sample.ttl
  target: https://github.com/solid/conformance-test-harness/testserver
  feature:
    mappings:
      - prefix: https://example.org/dummy/group1
        path: src/test/resources/dummy-features/group1
      - prefix: https://example.org/dummy/group2
        path: src/test/resources/dummy-features/otherExample
      - prefix: https://example.org/features
        path: src/test/resources

  quarkus:
    log:
      category:
        "org.solid.testharness.http.AuthManager":
          level: DEBUG

"%blank":
  configFile:
  testSuiteDescription:
  target:
  feature:
    mappings:
      - null
  quarkus:
    log:
      category:
        "org.solid.testharness.config.Config":
          level: WARN
