# local override of properties
configFile: config/config.ttl
credentialsDir: /Users/pete/work/tokens
testSuiteDescription: example/example.ttl
testSuiteNamespace: https://github.com/solid/conformance-test-harness/example/example.ttl#
target: ess-compat

# Test profile
"%test":
  configFile: src/test/resources/config-sample.ttl
  credentialsDir: src/test/resources
  target: ess-compat
  testSuiteDescription: src/test/resources/testsuite-sample.ttl
  testSuiteNamespace: https://example.org/example.ttl#
  feature:
    mappings:
      - prefix: https://example.org
        path: src/test/resources/dummy-features

#includeAllServers: true

# mapping feature URIs
feature:
  mappings:
    - prefix: https://github.com/solid/conformance-test-harness/example
      path: example

# Logging
quarkus:
  log:
    category:
      "org.solid.testharness":
        level: DEBUG # to increase overall logging for development
      "org.solid.testharness.http.AuthManager":
        level: INFO # but keep only higher level for authentication
#"org.solid.testharness.utils":
#  level: INFO
#"org.solid.testharness.http.Client":
#  level: DEBUG

