# local override of properties
subjects: config/config.ttl
sources:
  - https://raw.githubusercontent.com/solid/conformance-test-harness/example/main/protocol/solid-protocol-test-manifest.ttl
  - https://raw.githubusercontent.com/solid/conformance-test-harness/example/main/web-access-control/web-access-control-test-manifest.ttl
  - https://raw.githubusercontent.com/solid/conformance-test-harness/example/main/protocol/solid-protocol-spec.ttl
  - https://raw.githubusercontent.com/solid/conformance-test-harness/example/main/web-access-control/web-access-control-spec.ttl
target: https://github.com/solid/conformance-test-harness/ess-compat
#target: https://github.com/solid/conformance-test-harness/ess
#target: https://github.com/solid/conformance-test-harness/css
#target: https://github.com/solid/conformance-test-harness/nss

# mapping feature URIs
feature:
  mappings:
    - prefix: https://raw.githubusercontent.com/solid/conformance-test-harness/example/main
      path: example

# Test profile
"%test":
  subjects: src/test/resources/config/config-sample.ttl
  sources:
    - https://example.org/test-manifest-sample-1.ttl
    - https://example.org/test-manifest-sample-2.ttl
    - https://example.org/specification-sample-1.ttl
    - https://example.org/specification-sample-2.ttl
  target: https://github.com/solid/conformance-test-harness/testserver
  feature:
    mappings:
      - prefix: https://example.org/dummy/group1
        path: src/test/resources/dummy-features/group1
      - prefix: https://example.org/dummy/group2
        path: src/test/resources/dummy-features/otherExample
      - prefix: https://example.org/features
        path: src/test/resources
      - prefix: https://example.org/specification
        path: src/test/resources/discovery/specification
      - prefix: https://example.org/test
        path: src/test/resources/discovery/test
      - prefix: https://example.org/badmapping
        path: https://example.org:-1/

  agent: AGENT
  connectTimeout: 1000
  readTimeout: 1000

"%blank":
  subjects:
  sources: []
  target:
  feature:
    mappings:
      - null
  quarkus:
    log:
      category:
        "org.solid.testharness.config.Config":
          level: WARN
