# local override of properties
subjects: config/config.ttl
sources:
  - example/example.ttl
target: https://github.com/solid/conformance-test-harness/ess-compat
#target: https://github.com/solid/conformance-test-harness/ess
#target: https://github.com/solid/conformance-test-harness/css
#target: https://github.com/solid/conformance-test-harness/nss

# mapping feature URIs
feature:
  mappings:
    - prefix: https://github.com/solid/conformance-test-harness/example
      path: example
    - prefix: https://raw.githubusercontent.com/solid/conformance-test-harness/main/example/solid
      path: example/solid
    - prefix: https://raw.githubusercontent.com/solid/conformance-test-harness/main/example/web
      path: example/web

# Logging
quarkus:
  log:
    category:
      "org.solid.testharness":
        level: DEBUG # to increase overall logging for development
      "org.solid.testharness.http.AuthManager":
        level: INFO # but keep only higher level for authentication
#      "org.solid.testharness.utils":
#        level: INFO
#      "org.solid.testharness.http.Client":
#        level: DEBUG

# Test profile
"%test":
  subjects: src/test/resources/config/config-sample.ttl
  sources:
    - https://example.org/specification-sample-1.ttl
    - https://example.org/specification-sample-2.ttl
  target: https://github.com/solid/conformance-test-harness/testserver
  feature:
    mappings:
      - prefix: https://example.org/dummy/group1
        path: src/test/resources/dummy-features/group1
      - prefix: https://example.org/dummy/group2
        path: src/test/resources/dummy-features/otherExample
      - prefix: https://example.org/features
        path: src/test/resources
      - prefix: https://example.org/specification
        path: src/test/resources/discovery/specification
      - prefix: https://example.org/manifests
        path: src/test/resources/discovery
      - prefix: https://example.org/badmapping
        path: http://example.org:-1/

  agent: AGENT
  connectTimeout: 1000
  readTimeout: 1000

  quarkus:
    log:
      category:
        "org.solid.testharness.http.AuthManager":
          level: DEBUG

"%blank":
  subjects:
  sources: []
  target:
  feature:
    mappings:
      - null
  quarkus:
    log:
      category:
        "org.solid.testharness.config.Config":
          level: WARN
