{#with it}
<section about="{subject}" typeof="{typesList}">
    <h2 property="doap:name">{softwareName}</h2>
    <p property="doap:description">{description}</p>
    <dl><dt>Created</dt><dd><time datatype="xsd:date" datetime="{createdDate}" property="doap:created">{createdDate}</time></dd></dl>
    <dl><dt>By</dt><dd><a href="{developer}" rel="doap:developer" title="Software developer">{developer}</a></dd></dl>
    <dl><dt>Homepage</dt><dd><a href="{homepage}" rel="doap:homepage" title="Software homepage">{homepage}</a></dd></dl>
    <dl>
        <dt>Version</dt>
        <dd property="doap:release" href="#rev">
            <span about="#rev" property="doap:revision">{revision}</span>
        </dd>
    </dl>
</section>
{/with}
