<style type="text/css">
  /*<![CDATA[*/
  /* Sections */
  header {
      border-bottom: navy solid medium;
  }
  section.spec {
      border-bottom: navy solid medium;
  }
  section {
      border-bottom: navy solid thin;
      padding-bottom: 8px;
  }

  .splitBox {
      display: flex;
      margin-top: 4px;
  }

  .col {
      width: 50%;
      border: cadetblue solid thin;
      padding: 4px;

  }

  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  dl dt, dl dd {
      display:inline;
  }
  dt {
      font-weight: bold;
  }
  dt:after {
      content:": ";
  }
  dd {
      margin:0;
  }

  tr.backgroundStep {
      background-color: #f2f2f2;
  }
  /*]]>*/
</style>
