<link href="https://dokie.li/media/css/basic.css" media="all" rel="stylesheet" title="Basic"/>
<style>
  /*<![CDATA[*/
  /* More screen width */
  @media screen and (min-width: 100em) {
    body {
      max-width: 90em;
    }
  }

  /* Definitions */
  dl dt, dl dd {
    display: inline;
  }

  dt {
    font-weight: bold;
  }

  dt:after {
    content: ": ";
  }

  dd {
    margin: 0;
  }

  td dl {
    margin-top: 0;
    margin-bottom: 0;
  }

  th[colspan="4"] {
      font-size: small;
      font-weight: 400;
      border-top: 1pt solid #000;
      border-bottom: 1pt solid #000;
      padding-top: 0;
      padding-bottom: 0;
  }

  td, th {
    border: 1px solid #ccc;
    border-left-color: #eee;
    border-right-color: #eee;
    padding: 0.25em;
  }

  /* First and third columns in requirements */
  table[rel="spec:requirement"] th:nth-child(0),
  table[rel="spec:requirement"] th:nth-child(2) {
    width: 40%
  }

  /* hide marker for spec elements in list as this is a document structure not an actual list */
  li[rel="spec:requirement"]::marker,
  li[rel="dcterms:hasPart"]::marker,
  li[about]::marker {
    content: none;
  }

  details {
    margin-left: 10px;
  }

  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
  }

  summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
  }

  details[open] {
    padding: .5em;
  }

  details[open]>summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
  }

  /* Summary with external link */
  summary>a:not([data-id])::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cg stroke-width='2.1' stroke='%2300e' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='17 13.5 17 19.5 5 19.5 5 7.5 11 7.5'%3E%3C/polyline%3E%3Cpath d='M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }

  /* Summary with count */
  summary>span:not([property]) {
    float: right;
  }

  /*]]>*/
</style>
