<link href="https://dokie.li/media/css/basic.css" media="all" rel="stylesheet" title="Basic" />
<style type="text/css">
  /*<![CDATA[*/
  /* More screen width */
  @media screen and (min-width: 100em) {
      body {
          max-width:90em;
      }
  }

  /* Definitions */
  dl dt, dl dd {
      display:inline;
  }
  dt {
      font-weight: bold;
  }
  dt:after {
      content:": ";
  }
  dd {
      margin:0;
  }
  td dl {
      margin-top: 0px;
      margin-bottom: 0px;
  }

  /* Table styling */
  tr.backgroundStep {
      color: darkgrey;
  }

  td, th {
      border: 1px solid #ccc;
      border-left-color: #eee;
      border-right-color: #eee;
      padding:0.25em;
  }

  th.title {
      width: 40%
  }
  th.scenarios {
      width: 40%
  }

  /* Split box for requirement headers */
  .splitBox {
      display: flex;
      margin-top: 4px;
  }

  .col {
      width: 50%;
      border: 1px #eee solid;
      padding: 4px;

  }
  /*]]>*/
</style>
