<details id="{it.anchor}" rel="dcterms:hasPart" resource="{it.subject}" typeof="{it.typesList}" {#if it.countFailed > 0}open class="failed"{/if}>
  {#with it}
  <summary><b>Requirement:</b> {subject} <a href="{subject}" class="ext"></a>
    <span class="count">{countPassed}/{countTestCases}</span>
  </summary>
  <dl>
    <dt>Requirement subject</dt>
    <dd rel="spec:requirementSubject" resource="{requirementSubject}">
      {#switch requirementSubject}
      {#case 'http://www.w3.org/ns/spec#Server'}Server
      {#case 'http://www.w3.org/ns/spec#Client'}Client
      {/switch}
    </dd>
  </dl>
  <dl>
    <dt>Requirement level</dt>
    <dd property="spec:requirementLevel" resource="{requirementLevel}">
      {#switch requirementLevel}
      {#case 'http://www.w3.org/ns/spec#MUST'}MUST
      {#case 'http://www.w3.org/ns/spec#MUST-NOT'}MUST NOT
      {/switch}
    </dd>
  </dl>
  {#if statement}
  <dl><dt>Statement</dt><dd property="spec:statement">{statement}</dd></dl>
  {/if}
  {/with}
  {#insert/}
</details>

