{#with it}
<details id="{anchor}" rel="dcterms:hasPart" resource="{subject}" typeof="{typesList}" {#if !generatedOutput.passed}open{/if}>
  <summary><b>Scenario:</b> <span property="dcterms:title">{title}</span></summary>
  <dl><dt>Scenario</dt><dd>{subject}</dd></dl>
  <dl><dt>Script location</dt><dd><a rel="prov:used" href="{used}">{used}</a></dd></dl>
  <dl><dt>Start</dt><dd><time datatype="xsd:dateTime" datetime="{startTime}" property="prov:startedAtTime">{startTime}</time></dd></dl>
  <dl><dt>End</dt><dd><time datatype="xsd:dateTime" datetime="{endTime}" property="prov:endedAtTime">{endTime}</time></dd></dl>
  <dl><dt>Outcome</dt><dd rel="prov:generated" resource="{generatedOutput.subject}" typeof="{generatedOutput.typesList}">
    <span rel="prov:value" resource="{generatedOutput.value}" class="earl:{generatedOutput.valueLocalName}">
    {#switch generatedOutput.value}
    {#case 'http://www.w3.org/ns/earl#passed'}✔
    {#case 'http://www.w3.org/ns/earl#failed'}✗
    {#else}o
    {/switch}
    </span>
    <span content="{generatedOutput.timestamp}" datatype="xsd:dateTime" property="prov:generatedAtTime"></span>
  </dd></dl>
  {#if steps}
  <table>
    <caption>Scenario data</caption>
    <thead>
    <tr>
      <th>Step</th>
      <th>Location</th>
      <th>Outcome</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody inlist="" rel="dcterms:hasPart">
    {#each steps}
    {#include step /}
    {/each}
    </tbody>
  </table>
  {/if}
</details>
{/with}
