{#with it}
<details id="{anchor}" rel="dcterms:hasPart" resource="{subject}" typeof="{typesList}" {#if !generatedOutput.passed}open="open" class="failed" {/if}>
  <summary><b>Scenario:</b> <span property="dcterms:title">{title}</span></summary>
  <dl><dt>Scenario</dt><dd>{subject}</dd></dl>
  <dl><dt>Script location</dt><dd><a rel="prov:used" href="{used}">{used}</a></dd></dl>
  {#if startTime || endTime}
  <dl><dt>Start</dt><dd><time datatype="xsd:dateTime" datetime="{startTime}" content="{startTime}" property="prov:startedAtTime">{startTime}</time></dd></dl>
  <dl><dt>End</dt><dd><time datatype="xsd:dateTime" datetime="{endTime}" content="{endTime}" property="prov:endedAtTime">{endTime}</time></dd></dl>
  {/if}
  <dl><dt>Outcome</dt><dd rel="prov:generated" resource="{generatedOutput.subject}" typeof="{generatedOutput.typesList}">
    <span rel="prov:value" resource="{generatedOutput.value}" title="{generatedOutput.valueLocalName}">{#include outcome value=generatedOutput.value /}</span>
    <span content="{generatedOutput.timestamp}" datatype="xsd:dateTime" property="prov:generatedAtTime"></span>
  </dd></dl>
  {#if description}
  <pre property="dcterms:description">{description}</pre>
  {/if}
  {#if !steps.isEmpty}
  <table>
    <caption>Scenario data</caption>
    <thead>
    <tr>
      <th>Step</th>
      <th>Location</th>
      <th>Outcome</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody inlist="" rel="dcterms:hasPart">
      {#if !backgroundSteps.isEmpty}
      <tr>
        <th colspan="4">Background steps</th>
      </tr>
      {#each backgroundSteps}
      {#include step /}
      {/each}
      <tr>
        <th colspan="4">Scenario steps</th>
      </tr>
      {/if}
      {#each steps}
        {#include step /}
      {/each}
    </tbody>
  </table>
  {/if}
</details>
{/with}
