{#with it}
<tr id="{subject}" about="{subject}" typeof="{typesList}">
  <td>
    <span property="dcterms:title">{title}</span>
    [<a href="{subject}">manifest</a>]
    {#if isImplemented}
    [<a href="{testScript}" rel="spec:testScript">source</a>]
    {/if}
    [<a href="{requirementReference}" rel="spec:requirementReference">requirement</a>]
  </td>
  <td>
    <dl>
      <dt>Status</dt>
      <dd>
        {#switch status}
        {#case 'http://www.w3.org/2006/03/test-description#unreviewed'}<a href="{status}" rel="td:reviewStatus">Unreviewed</a>
        {#case 'http://www.w3.org/2006/03/test-description#accepted'}<a href="{status}" rel="td:reviewStatus">Accepted</a>
        {#case 'http://www.w3.org/2006/03/test-description#assigned'}<a href="{status}" rel="td:reviewStatus">Assigned</a>
        {#case 'http://www.w3.org/2006/03/test-description#approved'}<a href="{status}" rel="td:reviewStatus">Approved</a>
        {#case 'http://www.w3.org/2006/03/test-description#rejected'}<a href="{status}" rel="td:reviewStatus">Rejected</a>
        {#case 'http://www.w3.org/2006/03/test-description#onhold'}<a href="{status}" rel="td:reviewStatus">On Hold</a>
        {/switch}
      </dd>
    </dl>

    {#if assertion && coverageMode == false}
    <div rev="earl:test" resource="{assertion.subject}">
      <div about="{assertion.subject}" typeof="{assertion.typesList}">
        <span rel="earl:subject" resource="{assertion.testSubject}"></span>
        <span rel="earl:assertedBy" resource="{assertion.assertedBy}"></span>
        <dl>
          <dt>Mode</dt>
          <dd>
            {#switch assertion.mode}
            {#case 'http://www.w3.org/ns/earl#automatic'}<a href="{assertion.mode}" rel="earl:mode">Automatic</a>
            {#case 'http://www.w3.org/ns/earl#manual'}<a href="{assertion.mode}" rel="earl:mode">Manual</a>
            {#case 'http://www.w3.org/ns/earl#semiAuto'}<a href="{assertion.mode}" rel="earl:mode">Semi-Automatic</a>
            {#case 'http://www.w3.org/ns/earl#undisclosed'}<a href="{assertion.mode}" rel="earl:mode">Undisclosed</a>
            {#case 'http://www.w3.org/ns/earl#unknownMode'}<a href="{assertion.mode}" rel="earl:mode">Unknown</a>
            {/switch}
          </dd>
        </dl>
      </div>
      <dl>
        <dt>Timestamp</dt>
        <dd>
          <time about="{assertion.result.subject}" datatype="xsd:dateTime" datetime="{assertion.result.date}"
               content="{assertion.result.date}" property="dcterms:date">{assertion.result.date}
          </time>
        </dd>
      </dl>
    </div>
    {/if}
  </td>
  {#if coverageMode == true}
  <td>{isImplemented ? '✔' : '✗'}</td>
  {#else if isImplemented && assertion}
  <td about="{assertion.subject}" rel="earl:result" resource="{assertion.result.subject}">
    <span about="{assertion.result.subject}" typeof="{assertion.result.typesList}" rel="earl:outcome"
        resource="{assertion.result.outcome}"
        title="{assertion.result.outcomeLocalName}">{#include outcome value=assertion.result.outcome /}</span>
  </td>
  <td>
    <ul>
      {#each scenarios.orEmpty}
      <li>
        <span title="{it.generatedOutput.valueLocalName}">{#include outcome value=it.generatedOutput.value /}</span>
        <a href="#{it.anchor}" data-id="{it.anchor}">{it.title}</a>
      </li>
      {/each}
    </ul>
  </td>
  {#else}
  <td></td>
  <td>Test not run.</td>
  {/if}
</tr>
{/with}
