<tr id="{{subject}}" about="{{subject}}" typeof="td:TestCase">
    <td>{{subject}}</td>
    <td property="dcterms:title" resource="">{{title}}</td>
    <td property="dcterms:subject" resource="">{{level}}</td>
    <td property="td:reviewStatus" resource="">{{status}}</td>
    <td property="earl:result" resource="">{{outcome}}</td>
</tr>
