name: GitHub CI

on:
  # Build pull requests for any branch
  pull_request: { }

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      # Set up the Java environment
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      # Use a cache for the local Maven repository
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Generate Cache Name
        shell: bash
        run: echo "CACHE_NAME=$(date '+%y.%j')" >> $GITHUB_ENV

      - name: Restore NVD data cache
        uses: actions/cache@v4
        with:
          key: nvd-data-${{ env.CACHE_NAME }}
          restore-keys: nvd-data-
          path: ./data/cache

      # Build the software
      - name: Build with Maven
        run: mvn -B -ntp verify -Dnvd.api.datafeed="file:${GITHUB_WORKSPACE}/data/cache/nvdcve-{0}.json.gz"